.alwaysActive:hover{

    box-shadow: -2px 8px 22px rgba(0,0,0,.15);

}

.alwaysActive{
    background-color: #6400e4;
    border: none;
    color: #fff;

    }

.active:hover{
    background-color: #6400e4;
    border: none;
    color: #fff;
    box-shadow: -2px 8px 22px rgba(0,0,0,.15);


}

.Yellow:hover{
    color: #000;
}