.Recomended:before {
    content:"Recomended";
    width: 152px;
    height: 33px;
    text-align: center;
    position:relative;
    padding: 6px 21px;
    background-color: #6400E4;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    z-index: 1;
    top: 91px;
    right: 263px;
}
.alwaysActive{
    background-color: #6400e4;
    border: none;
    color: #fff;
    }


.alwaysActive:hover{
    box-shadow: 0px 0px 9px #00000061;

}